{% extends 'base.html' %}

{% block content %}
    <h2>List of Quizzes</h2> 
    {% if object_list %}
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <th>Title</th>
                <th>Slug</th>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'quiz-detail' object.slug %}">{{ object.title }}</a></td>
                    <td>{{ object.slug }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% else %}
        <p>There are no available quizzes.</p>
    {% endif %}


{% endblock %}