{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Set new password</h1>

    {% if error %}
        <h3>{{ error }} </h3>
    {% endif %}

    {% if validlink %}
        <form method="POST">
            {% csrf_token %}
            <table> 
                {{ form | crispy }}
            </table>
            <button type="submit">Save</button>
        </form>
    {% else %}
        <p style="color:red">Invalid token. </p>
        <p>
            <a href="{% url 'passwor_reset' %}"> Request a new password reset token. </a>
        </p>
    {% endif %}

</div>


{% endblock %}